@-webkit-keyframes planeAnim {
  0%, 5%, 100% {
    left: 0;
    opacity: 0;
  }
  15% {
    left:0;
    opacity: 1;
  }
  85% {
    opacity: 1;
    left: 90%;
  }
  95% {
    opacity: 0;
    left: 90%
  }
}

@keyframes planeAnim {
  0%, 5%, 100% {
    left: 0;
    opacity: 0;
  }
  15% {
    left:0;
    opacity: 1;
  }
  85% {
    opacity: 1;
    left: 90%;
  }
  95% {
    opacity: 0;
    left: 90%
  }
}

@-webkit-keyframes slideInUp {
  from {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    opacity: 0;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes slideInUp {
  from {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    opacity: 0;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg)
  }
  50% {
    transform: rotate(180deg)
  }
  100% {
    transform: rotate(360deg)
  }
}