@import 'bootstrap/dist/css/bootstrap.css';
@import 'bootstrap-vue/dist/bootstrap-vue.css';
@import "./assets/bootstrap-skin/superHero.min.css";
@import "keyframes";

html, body {
    min-width: 100%;
    min-height: 100%;
    font-size: 12px;
}

h1, h2 {
  font-weight: normal;
  text-align: center;
  margin: 3rem 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
