<template>
  <transition
    name="fade"
    mode="out-in">
    <div
      v-if="alertVisible"
      :class="'alert-' + alertType"
      class="alert alert-dismissible">
      <button
        type="button"
        class="close"
        data-dismiss="alert"
        @click="toggleAlert">&times;</button>
      <p class="mb-0 mt-1">
        {{ alertContent }}
      </p>
    </div>
  </transition>
</template>

<script>
import { EventBus } from '@/eventBus'

export default {
  name: 'Alert',
  props: {
    lang: {
      type: Object,
      default: () => {}
    }
  },
  data () {
    return {
      alertType: 'secondary',
      alertContent: '',
      alertVisible: false,
      alertTypes: this.lang.Alert.availableTypes
    }
  },
  created () {
    EventBus.$on('alert', params => {
      this.alertContent = params.content
      if (this.alertTypes.find(type => type === params.alertType)) {
        this.alertType = this.alertTypes.find(type => type === params.alertType)
      }
      this.alertVisible = true
    })

    EventBus.$on('closeAlert', () => {
      this.alertVisible = false
    })
  },
  methods: {
    toggleAlert () {
      this.alertVisible = !this.alertVisible
    }
  }
}
</script>

<style lang="scss" scoped>
  .alert {
    position: fixed;
    top: 20px;
    right: 20px;
  }
</style>
