<template>
  <div
    class="flightItem container list-group-item list-group-item-action"
    :style="{ 'animation-delay': index/30 + 's' }"
    @click="openFlightDetails">
    <div class="row">
      <div class="col-auto">
        <font-awesome-icon
          :icon="planeIcon"
          :style="{ 'transform': 'rotate(' + [flight.Trak - 90] + 'deg)' }"
          class="align-middle planeIcon" />
      </div>
      <div class="col altitude text-center">
        <p class="mb-0 align-middle">
          {{ flight.Alt }} {{ lang.app.heightUnit }}
        </p>
      </div>
      <div class="col icao text-center">
        <p class="mb-0 align-middle">
          {{ flight.Icao }}
        </p>
      </div>
    </div>

  </div>
</template>

<script>
import FontAwesomeIcon from '@fortawesome/vue-fontawesome'
import { faPlane } from '@fortawesome/fontawesome-free-solid'

export default {
  name: 'FlightItem',
  components: {
    FontAwesomeIcon
  },
  data () {
    return {
    }
  },
  computed: {
    planeIcon () {
      return faPlane
    }
  },
  props: {
    lang: {
      type: Object,
      default: () => {}
    },
    flight: {
      type: Object,
      default: () => {}
    },
    index: {
      type: Number,
      default: null
    }
  },
  methods: {
    openFlightDetails () {
      this.$router.push({ path: '/flightDetails/' + this.flight.Id })
    }
  }
}
</script>

<style lang="scss" scoped>
.flightItem {
  font-size: 1.3rem;
  line-height: 2;
  margin: 4px 0;
  opacity: 0;
  animation: slideInUp 0.2s linear forwards;

  &:hover {
    cursor: pointer;
  }

  .planeIcon {
    color: #42b983;
    font-size: 1.7rem;
  }
}
</style>
