<template>
  <div class="container mt-5">
    <div class="jumbotron">
      <h1 class="display-3 mb-0">
        {{ lang.app.name }}
      </h1>
      <p class="lead text-center">
        {{ lang.app.version }}
      </p>
      <hr class="my-4">
      <p class="text-center">
        {{ lang.app.description }}
      </p>
    </div>

    <div
      v-if="flightsListLoaded"
      class="flights">
      <transition
        name="fade"
        mode="out-in">
        <router-view
          :lang="lang"
          :flights-list="flightsList"/>
      </transition>
    </div>

    <div
      v-if="!flightsListLoaded"
      class="text-center">
      <div class="loader m-auto"/>
      {{ lang.app.flightsLoading }}
    </div>

    <div
      v-if="flightsListLoaded && flightsList.length === 0"
      class="text-center">
      {{ lang.app.noFlights }}
    </div>

  </div>

</template>

<script>
import FlightsService from '@/services/flightsService'
import FlightItem from '@/components/FlightItem'
import { EventBus } from '@/eventBus'

export default {
  name: 'Flights',
  components: {
    FlightItem
  },
  props: {
    lang: {
      type: Object,
      default: () => {}
    }
  },
  data () {
    return {
      userLocation: {
        lat: null,
        lng: null
      },
      flightsList: [],
      flightsListLoaded: false
    }
  },
  created () {
    this.$getLocation({
      enableHighAccuracy: true,
      timeout: 10 * 1000 * 1000,
      maximumAge: 0
    })
      .then(coordinates => {
        this.setUserLocation(coordinates)
      }).catch(err => {
        console.log(err)
        this.errorFunction(err)
      })
  },
  methods: {
    setUserLocation (coordinates) {
      this.userLocation = {
        lat: coordinates.lat,
        lng: coordinates.lng
      }

      this.findFlights()
    },
    findFlights () {
      FlightsService.fetchFlights({
        lat: this.userLocation.lat,
        lng: this.userLocation.lng,
        fDstL: 0,
        fDstU: this.lang.app.searchRangeInKm
      }).then(res => {
        this.flightsList = res.data.acList.sort((a, b) => {
          return b.Alt - a.Alt
        })
        this.flightsListLoaded = true

        setTimeout(() => {
          this.findFlights()
        }, this.lang.app.updatePeriodInMiliSeconds)
      })
    },
    errorFunction (err) {
      console.log(err)
      this.flightsListLoaded = true
      EventBus.$emit('alert', {
        alertType: 'danger',
        content: this.lang.errors.LOCATION_UNACCESIBLE
      })
    }
  }
}
</script>

<style lang="scss" scoped>
  .loader {
    width: 50px;
    height: 50px;
    background: url('../assets/images/spinner.png') no-repeat center;
    background-size: contain;
    animation: rotate 2s ease-in-out infinite;
  }
</style>
