<template>
  <div class="flightsList">
    <flight-item
      v-for="(flight, i) in flightsList"
      :flight="flight"
      :index="i"
      :lang="lang"
      :key="i"/>
  </div>
</template>

<script>
import FlightItem from '@/components/FlightItem'

export default {
  name: 'FlightsList',
  components: {
    FlightItem
  },
  props: {
    lang: {
      type: Object,
      default: () => {}
    },
    flightsList: {
      type: Array,
      default: () => []
    }
  }
}
</script>
