<template>
  <div
    v-if="flightLoaded && logoLoaded"
    class="flightDetails">
    <div class="card mb-3">
      <h3 class="card-header">
        <font-awesome-icon
          :icon="backIcon"
          class="align-middle backIcon"
          @click="goBack" />
        <span class="align-middle ml-2">
          {{ lang.FlightDetails.title }}
        </span>
      </h3>
      <div class="card-body">
        <div class="companyInfo mb-3">
          <div
            class="col-auto mw-100 companyLogo"
            :style="{'background-image': 'url(' + logoSrc + ')'}"/>
          <div class="companyName ml-3">
            {{ flight.Op }}
          </div>
        </div>

        <hr class="my-4 separator">

        <h5 class="card-title">{{ flight.Mdl }}</h5>
        <div
          v-if="flight.From && flight.To"
          class="row">
          <div class="col-12 col-sm-auto text-sm-left text-center mw-100">
            {{ flight.From }}
          </div>
          <div class="col">
            <font-awesome-icon
              :icon="planeIcon"
              class="align-middle planeIcon" />
          </div>
          <div class="col-12 col-sm-auto text-sm-left text-center mw-100">
            {{ flight.To }}
          </div>
        </div>
        <div
          v-if="!flight.From || !flight.To">
          <p>
            {{ lang.FlightDetails.noFlightDataAvailable }}
          </p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import LogoService from '@/services/logoService'
import { EventBus } from '@/eventBus'
import FontAwesomeIcon from '@fortawesome/vue-fontawesome'
import { faPlane, faCaretSquareLeft } from '@fortawesome/fontawesome-free-solid'

export default {
  name: 'FlightDetails',
  components: {
    FontAwesomeIcon
  },
  props: {
    lang: {
      type: Object,
      default: () => {}
    },
    flightsList: {
      type: Array,
      default: () => []
    }
  },
  data () {
    return {
      flight: {},
      flightLoaded: false,
      logoLoaded: false,
      logoSrc: ''
    }
  },
  computed: {
    planeIcon () {
      return faPlane
    },
    backIcon () {
      return faCaretSquareLeft
    }
  },
  created () {
    this.flight = this.flightsList.find(flight => flight.Id.toString() === this.$route.params.id)
    if (!this.flight) {
      EventBus.$emit('alert', {
        alertType: 'danger',
        content: this.lang.errors.FLIGHT_NOT_ACTIVE + ' ' + this.lang.app.redirecting
      })
      setTimeout(() => {
        this.$router.push({ name: 'FlightsList' })
        EventBus.$emit('closeAlert')
      }, 3000)
    } else {
      this.flightLoaded = true
      if (this.flight.Op) {
        LogoService.fetchLogo(this.flight.Op.split(' ')[0]).then(res => this.setLogoSrc(res.data))
      } else {
        EventBus.$emit('alert', {
          alertType: 'danger',
          content: this.lang.errors.INVALID_FLIGHT_DATA + ' ' + this.lang.app.redirecting
        })
        setTimeout(() => {
          this.$router.push({ name: 'FlightsList' })
          EventBus.$emit('closeAlert')
        }, 3000)
      }
    }
  },
  methods: {
    setLogoSrc (data) {
      this.logoSrc = data.find(company => company.name === this.flight.Op) ? data.find(company => company.name === this.flight.Op).logo : 'https://www.onlinetraveltraining.com/images/noimage.png'
      this.logoLoaded = true
    },
    goBack () {
      this.$router.push({ name: 'FlightsList' })
    }
  }
}
</script>

<style lang="scss" scoped>
.flightDetails {
  animation: slideInUp 0.2s linear;
  .backIcon {
    color: #42b983;
    font-size: 3rem;
    &:hover {
      cursor: pointer;
    }
  }

  .planeIcon {
    color: #42b983;
    position: relative;
    font-size: 15px;
    animation: planeAnim 2s ease-in-out infinite;
  }

  .companyInfo {
    div {
      display: inline-block;
      vertical-align: middle;
    }
    .companyLogo {
      width: 40px;
      height: 40px;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
    }

    .companyName {
        font-size: 2rem;
    }
  }

  .separator {
    background: #999;
  }

}
</style>
