<template>
  <div id="app">
    <alert :lang="lang"/>
    <router-view :lang="lang"/>
  </div>
</template>

<script>
import localization from '@/localization.json'
import Alert from '@/components/Alert'

export default {
  name: 'App',
  components: {
    Alert
  },
  data () {
    return {
      lang: localization
    }
  }
}
</script>

<style lang="scss">
  @import './assets/scss/main';
</style>
